body{
    background: linear-gradient(90deg, rgba(65,55,63,1) 0%, rgba(2,0,36,1) 47%, rgba(77,60,173,1) 100%);
    font-family: 'Poppins',sans-serif;
}
header,footer{
    text-align: center;
    font-weight: 100;
    padding: 30px;
}
main{
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin: 30px auto 0px auto;
    width: 300px;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 18px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input{
    margin-top: 10px;
    display: inline;
    font-family: 'Poppins',sans-serif;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    font-weight: 200;
    font-size:18px;    
    width: 278px;
}
input[type="submit"]{
    transition: .5s;
    background-color: #05bbe3;
    color: black;
    font-weight: 400;
    border-radius: 5px;
    border-color: black;
    width: 100%;
}
input[type="submit"]:hover{
    transition: .4s;
    background-color: black;
    color: white;
    cursor: pointer;
}


select{
    font-family: 'Poppins',sans-serif;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-weight: 200;
    font-size:18px;
}
p{
    color: white;
    font-weight: 100;
    font-size: 14px;
}


/*Class*/
.eye-button{
    position: absolute;
    padding-top: 4px;
}


.container-password{
    display: flex;
    justify-content: end;
    align-items: center;
}
.container-log-in{
    margin-top: 5px;
}

footer{
    font-weight: 100;
}

/*IDs*/
#log-in{
    font-size: small;
    font-weight: 10;
    text-decoration:none;
}
#log-in:active{
    color: #05bbe3;
}
#log-in:visited{
    color: white;
}
#log-in:hover{
    color:#05bbe3;
}
#show-hide-password{
    cursor: pointer;
}
#error{
    text-align: center;
    color:red;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}


