body{
    background-color: rgb(28, 11, 31) ;
    font-family: 'Poppins',sans-serif;
}
header,footer{
    text-align: center;
}
main{
    font-size: 20px;
    font-weight: 900;
    color: white;
    margin: 30px auto 0px auto;
    width: 300px;
}
form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 18px;
}
label{
    display: block;
    margin-bottom: 10px;
}
input{
    margin-top: 10px;
    display: inline;
    font-family: 'Poppins',sans-serif;
    width: 280px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 200;
    font-size:18px;

}
input[type="email"]{
    border: 1px solid #ced4da;
    font-weight: 200;
    font-size:18px;
    border-radius: 5px;
    width: 278px;
}
input[type="submit"]{
    background-color: #05bbe3;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
}
select{
    font-family: 'Poppins',sans-serif;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-weight: 200;
    font-size:18px;
}
p{
    font-weight: 100;
    font-size: 14px;
}
footer{
    font-weight: 100;
}
/*Class*/

/*IDs*/

#error{
    text-align: center;
    color:#fd0c49;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}


